<% include ../layouts/header %>

<div class="container-fluid">
<div class="row row-contents">
		<div class="col-sm-1">
			padding
		</div>
		
		<div class="col-sm-8">
			<div class="jumbotron">
				<a href="/question/create">質問を投稿する</a>
			</div>

		<hr>

			<% Question.forEach(function(question){ %>
				<h2><a href="question/<%= question.id %>"><%= question.subject %></a></h2>
				<div class="seigen">
				<font color="#838280"><%= question.content %></font>
				</div>
				
				<br>
				
				<font size="1px" color="#838280">投稿日時：<%= question.createdAt %>　　<strong>回答数：<%= question.Answers.length %></strong></font>
				<hr style="border-top: 2px dotted #eeeeee;width: 100%;"> 
			<% }) %>
		</div>

		<div class="col-sm-2">

			<div class="sidebar-category">
	        <center><p class="sidebar-text">Category</p></center>
	        	<div class="sidebar-right">
				<% Category.forEach(function(category){ %>
					<a href="category/<%= category.id %>"><%= category.category %></a>
					<hr>
				<% }) %>
				</div>
			</div>

			<hr>

			<div class="sidebar-tag">
	        <center><p class="sidebar-text">Tag</p></center>
	        	<div class="sidebar-right">
				<% Tag.forEach(function(tag){ %>
					<a href="tag/<%= tag.id %>"><%= tag.tag %></a>
					<hr>
				<% }) %>
				</div>
			</div>

		</div>

		<div class="col-sm-1">
			padding
		</div>
		</div>
</div>

<% include ../layouts/footer %>