<% include ../layouts/header %>

<div class="container">

	<div class="jumbotron">
	<p><%= Question.User.name %>'s Question...</p>
	<hr>
	件名　：　<%= Question.subject %>
	<br>
	内容　：　<%= Question.content %>
	</div>
	<br>
	<br>
	<a href="/question/<%= Question.id %>/answer"><font color="red">Answer☆</font></a>
	<br>
	<br>
	<div class="jumbotron">
		<%= Question.Answers.map(function (answer) {
		return answer.answer
		}).join(' / ') %>
	</div>

</div>

<% include ../layouts/footer %>