<% include ../layouts/header %>

<div class="container">

	<div class="jumbotron">
	<p><%= Question.User.name %>'s Question...</p>
	<hr>
	件名　：　<%= Question.subject %>
	<br>
	内容　：　<%= Question.content %>
	<br>
	<hr>
	タ　グ　　：	<%= Question.Tags.map(function(tag) {
					return tag.tag
				}).join(' / ') %>
	<br>
	カテゴリ　：　<%= Question.Categories.map(function(category){
					return category.category
				}) %>
	</div>

	<br>

	<div class="jumbotron">
		<% if(currentUser){ %>
			<form method="POST" action="/question/<%= Question.id %>/answer">
			<h2><a href="/question/<%= Question.id %>/answer"><font color="red">Answer☆</font></a></h2>
			<br>
				<input type="text" name="answer">
			</p>
			<input type="submit" value="Submit" class="btn btn-danger">
		</form>
		<% }else{ %>
			<p><a href="/register">こちらより会員登録したら回答できます。</a></p>
		<% } %>
	<br>
	<br>

		<%= Question.Answers.map(function (answer) {
		return answer.answer
		}).join(' / ') %>

	</div>

</div>

<% include ../layouts/footer %>