<% include layouts/header %>
<div class="container-fluid">

			<div class="col-sm-1">
				padding
			</div>
			<div class="col-sm-10 row-top">
				<div class="col-md-3">
					<center>Lawverflow is Q&A platform for multible law information.</center>
					<br>
					<center><button class="btn btn-top">Ask a question?</button></center>
				</div>
		
				<div class="col-md-3">
					<center><i class="fa fa-question-circle fa-5x"></i></center>
					<br>
					<center>searching law information.</center>
				</div>

				<div class="col-md-3">
					<center><i class="fa fa-hand-o-up fa-5x"></i></center>
					<br>
					<center>law search engine.</center>
				</div>

				<div class="col-md-3">
					<center><i class="fa fa-stack-exchange fa-5x"></i></center>
					<br>
					<center>Let's ask question</center>
				</div>
			</div>

			<div class="col-sm-1">
				padding
			</div>
	</div>
</div>

<div class="container-fluid">
  <div class="row row-contents">

  	<div class="col-sm-1 sidebar">
  		padding
    </div>
	<div class="col-sm-8">
	  <ul class="nav nav-tabs">
	    <li class="active"><a data-toggle="tab" href="#menu0">New</a></li>
	    <li><a data-toggle="tab" href="#menu1">Tag</a></li>
	    <li><a data-toggle="tab" href="#menu2">Category</a></li>
	    <li><a data-toggle="tab" href="#menu3">Question</a></li>
	  </ul>

	  <div class="tab-content">
	    <div id="menu0" class="tab-pane fade in active">
		    <br>
			<h3><strong>Today's Questions</strong></h3>
			<hr>
			<% Question.forEach(function(question){ %>
				<div class="row">
					<div class="top-question">
						<div class="col-sm-1 q-count">
							<div class="answer-count">
								<%= question.Answers.length %>
							</div>
							<div>
								answers
							</div>
						</div>
						
						<div class="col-sm-9">
							<li style="list-style:none;">
								Subject : <strong><a href="/question/<%= question.id %>"><%= question.subject %></a></strong>
							</li>
						</div>
						
						<% if(currentUser != null && currentUser.id === question.UserId){ %>
							<div class="2">
								<a href="/question/delete/<%= question.id %>" onClick="delete_confirm()"><button type="button" class="btn btn-delete">x</button></a>
								<a href="/question/edit/<%= question.id %>"><button type="button" class="btn btn-edit">Edit</button></a>
							</div>
						<% }else{ %>
							<div class="2">
							<br>
							<br>
							</div>
						<% } %>
					</div>
				</div>
			<% }) %>
	    </div>
	    
	    <div id="menu1" class="tab-pane fade">
		    <h3>Tag</h3>
		    <% Tag.forEach(function(tag){ %>
		    	<a href="/tag/<%= tag.id %>"><option value=""><%= tag.tag %></option></a>
		    	<hr>
		    <% }) %>
	    </div>
	    
	    <div id="menu2" class="tab-pane fade">
		    <h3>Category</h3>
		    <% Category.forEach(function(category){ %>
		    	<a href="/category/<%= category.id %>"><option value=""><%= category.category %></option></a>
		    	<hr>
		    <% }) %>
	    </div>
	    
	    <div id="menu3" class="tab-pane fade">
		<% if(currentUser != null) { %>
			<form name="question" method="POST" action="/question/create">
				<h3>Question</h3>

				<p><label>Question...</label>
					<input type="text" name="subject">
					<input type="textarea" name="content">
				</p>

				<p><label>Tag...</label>
					<input type="text" name="tagName">
				</p>

				<p><label>Category...</label>
					<input type="text" name="categoryName">
				</p>

				<input type="submit" value="submit">

			</form>
		
		<% }else{ %>

				<a href="/register">こちらより登録後質問を投稿することができます</a>
		
		<% } %>

		</div>
	  </div>
	</div>


    <div class="col-sm-2">
        <div class="sidebar-add">
        <center><p class="sidebar-text">Sponcer</p></center>
        	<div class="sidebar-right">
        		<-- add space -->
        	</div>
        </div>

		<hr>

        <div class="sidebar-category">
        <center><p class="sidebar-text">Category</p></center>
        	<div class="sidebar-right">
				<% Category.forEach(function(category){ %>
					<option value=""><a href="/category/<%= category.id %>"><%= category.category %></a></option>
					<hr>
				<% }) %>
        	</div>
        </div>

        <hr>

        <div class="sidebar-tag">
        <center><p class="sidebar-text">Tag</p></center>
        	<div class="sidebar-right">
        		<% Tag.forEach(function(tag){ %>
        			<option value=""><a href="/tag/<%= tag.id %>"><%= tag.tag %></a></option>
        			<hr>
        		<% }) %>
        	</div>
        </div>
    </div>

    <div class="col-sm-1">
    	padding
    </div>
  </div>
</div>

<script language="javascript"><!--
	function delete_confirm() {
	    window.confirm("Delete?");
	}
//--></script>

<% include layouts/footer %>