<% include layouts/header %>
<div class="jumbotron features">
	<div class="container">
		<div class="row">
			<div class="col-md-4">
				① Lawverflow is Q&A platform for searching law information.
			</div>

			<div class="col-md-4">
				② This is law search engine.
			</div>
			
			<div class="col-md-4">
				③ Lawverflow is like a stackoverflow(It is programming Q&A site.)
			</div>
		</div>
	</div>
</div>

<div class="container-fluid strip">
  <div class="row row-contents">

  	<div class="col-sm-1 sidebar">
  		padding
    </div>

    <div class="col-sm-8">
		<h4><strong>Today's Questions</strong></h4>
		<hr>
		<% Question.forEach(function(Question){ %>
			<li style="list-style:none;">
				Subject : <%= Question.subject %>
				<br>
				Content : <strong><a href="/question/<%= Question.id %>"><%= Question.content %></a></strong>
				<a href="/question/delete/<%= Question.id %>" onClick="delete_confirm()">x</a>
				<a href="/question/edit/<%= Question.id %>">Edit</a>
				<hr>
			</li>
		<% }) %>
    </div>

    <div class="col-sm-2">
        <div class="sidebar-title">
        <center><p class="sidebar-text">sidebar here</p></center>
        	<div class="sidebar-right">
				<% Question.forEach(function(Question){ %>
					<option value=""><%= Question.subject %></option>
				<% }) %>
        	</div>
        </div>
    </div>

    <div class="col-sm-1">
    	padding
    </div>
  </div>
</div>


<script language="javascript"><!--
	function delete_confirm() {
	    window.confirm("Delete?");
	}
//--></script>

<% include layouts/footer %>